#Supabase
DATABASE_URL=your_database_url
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_SUPABASE_URL=your_supabase_url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key
DATABASE_PROVIDER=supabase
STORAGE_PROVIDER=supabase
WEBHOOK_SECRET=your_supabase_webhook
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key

#Better Auth
BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_SECRET=your_better_auth_secret

# Payment Provider
NEXT_PUBLIC_ENABLED_PAYMENT_PROVIDERS=stripe
NEXT_PUBLIC_ACTIVE_PAYMENT_PROVIDERS=stripe
MAYAR_API_KEY=your_mayar_api_key
MAYAR_WEBHOOK_TOKEN=your_mayar_webhook_token
PAYPAL_MODE=sandbox
PAYPAL_CLIENT_ID=your_paypal_client_id
PAYPAL_CLIENT_SECRET=your_paypal_client_secret
PAYPAL_WEBHOOK_ID=your_paypal_webhook_id
PADDLE_MODE=sandbox
PADDLE_API_KEY=your_paddle_api_kkey
PADDLE_WEBHOOK_SECRET=your_paddle_webhook_secret
PADDLE_HOSTED_CHECKOUT_URL=your_paddle_hosted_checkout_url
STRIPE_SECRET_KEY=your_stripe_secret_key
STRIPE_WEBHOOK_SECRET=your_stripe_webhook_secret
LEMONSQUEEZY_API_KEY=your_lemonsqueezy_api_key
LEMONSQUEEZY_WEBHOOK_SECRET=your_lemonsqueezy_webhook_secret
MIDTRANS_SERVER_KEY=your_midtrans_server_key
MIDTRANS_IS_PRODUCTION=false
XENDIT_API_KEY=your_xendit_api_key
XENDIT_CALLBACK_TOKEN=your_xendit_callback_token
BRAINTREE_MERCHANT_ID=your_braintree_merchant_id
BRAINTREE_PUBLIC_KEY=your_braintree_public_key
BRAINTREE_PRIVATE_KEY=your_braintree_private_key
BRAINTREE_ENVIRONMENT=sandbox

# Currency Rate
EXCHANGERATE_API_KEY=your_exchangerate_api_key
EXCHANGE_RATE_CACHE_TTL=21600000
HARDCODED_USD_TO_IDR_RATE="Rate Offline"

# Mail Provider
MAIL_PROVIDER=resend
RESEND_API_KEY=your_resend_api_key
MAILERSEND_API_KEY=your_mailersend_api_key
MAILERSEND_SENDER_EMAIL=your_mailersend_sender_email

# Created by Vercel CLI
VERCEL_OIDC_TOKEN=your_vercel_OIDC_token
TRIGGER_SECRET_KEY=your_trigger_secret_key
TRIGGER_PROJECT_REF=your_trigger_project_ref
